*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}       

@font-face {
    font-family: dheer ;
    src: url(./Onestrike.ttf);
}
#main{
    height: 100%;
    width: 100%;
    background-image: url("https://cdn.wallpapersafari.com/51/21/wyvWxa.jpg");
    background-size: cover;
    background-position: top;
    text-align:center ;
    padding: 50px;
}

h1{
    color: rgb(243, 219, 43);
    font-family: dheer;
    font-weight: 300;
    font-size: 50px;
}

button{
    background-color:rgb(224, 202, 31);
    color: black;
    padding: 5px 20px;
    font-size: 20px;
    font-family: dheer;
    font-weight: 900;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(206, 184, 19);
    cursor: pointer;
    transform: scale(1.05);
}