*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}       

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    text-align: center;
}

#card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

#card h3{
    font-size: 30px;
    margin-bottom: 10px;
}

#card i {
    font-size: 80px;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCnAKq0Th6x1qsI3Lo72ucWlH-PLb4XLXdZA&s");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
     color: transparent;

    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all 0.3s ease;
}