*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgba(161, 239, 238, 0.903);
    display: flex;
    flex-wrap: wrap;
}

/* #main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
} */

#cards{
    width:400px;
    height: 350px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    position: relative;
     overflow: hidden;
     margin: 20px;
}

#cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#bottom{
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent , rgba(0, 0, 0, 0.851));
    position: absolute;
    bottom:-40%;
    transition: all ease 0.5s;
}

#bottom h2{
    color: white;
    font-size: 30px;
    padding: 20px;
}

#cards:hover #bottom{
    bottom:0;
}