*{
    border: 0;
    margin:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    gap: 20px;
}

h1{
    color: rgb(208, 255, 0);
    font-family: monospace;
    font-size: 35px;
    font-weight: 800;
}