* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

 
/*
@keyframes changebc {
    from{
        background-color: red;
        border-radius: 0;
        transform   : rotateX(0deg);
    }

    to{
        background-color: var(--bgclr);
        border-radius: 50%;
        transform: rotateX(180deg);
    }
} */


@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}



@keyframes box-shad {
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }    
}

#box {
    max-width: 350px;
    padding-top: 20px;
    padding-inline: 10px;
    padding-bottom: 20px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 0px rgb(255, 0, 128);
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(black)padding-box,
    conic-gradient(from var(--rotate),black,black,black,rgb(255, 0, 128),black)border-box
    ;
    border: 5px solid rgba(255, 255, 255, 0);
    border-width: 0px;
    animation: box-shad 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0s linear;
 }


#box img {
    width: 80%;
}

#box:hover{
animation-play-state:running;
border-width: 7px;
box-shadow: 0px 0px 50px rgb(255, 0, 128);
color:rgb(255, 0, 128) ;
text-shadow: 0 0 5px rgb(255, 0, 128);
    transition: all 3s linear;

}